.artwork-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.artwork-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.artwork-card h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.artwork-card p {
  margin: 0;
  font-size: 1rem;
}

.artwork-card a {
  color: #0077cc !important;
  text-decoration: none !important;
}

.artwork-card a:hover {
  text-decoration: underline !important;
}
